---
---

@import "{{ site.theme }}";

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 1;
}

.page-header {
  color: #606c71; /*#606c71*/
  text-align: center;
  background-color: $header-bg-color;
  background-image: url("../../site_banner_opacity2.jpg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  /*box-shadow: inset 0 0 0 1000px rgb(99 99 99 / 70%);*/
  /* background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color); */

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}


.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #990000;
}
